.sub-list {
    border: 1px solid #256fff;
    border-radius: 12px;
    padding: 7px;
    background-color: #fff;
    margin-top: 5px;
}

section.user-content {
    padding: 10px 10px 10px 20px;
}

.sub-unit {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #182026;
    margin-top: 5px;
}

.user-h {
    max-height: 45vh;
}

.user-info {
    display: grid;
    align-items: center;
    grid-template-columns: 5% 23% 17% 19% 16% 20%;
    min-width: 700px;

    li {
        font-size: 1rem;
    }

    .edit {
        display: flex;
        justify-content: flex-end;
        gap: 5px;
        align-items: center;
        color: #182026;
        opacity: 0.4;
        cursor: pointer;
        user-select: none;

        svg {
            width: 1rem;
            height: 1rem;
            min-width: 1rem;
            min-height: 1rem;
        }

        &:hover {
            opacity: 1;
            svg g {
                opacity: 1;
            }
        }
        &:active {
            color: #256fff;
            svg g path {
                fill: #256fff;
            }
        }
    }
}
