<div id="header">
  <div class="home" routerLink="/menu">
    <svg
      width="19"
      height="20"
      viewBox="0 0 19 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M6.63478 18.7733V15.7156C6.63478 14.9351 7.27217 14.3023 8.05844 14.3023H10.9326C11.3102 14.3023 11.6723 14.4512 11.9393 14.7163C12.2063 14.9813 12.3563 15.3408 12.3563 15.7156V18.7733C12.3539 19.0978 12.4821 19.4099 12.7124 19.6402C12.9427 19.8705 13.2561 20 13.5829 20H15.5438C16.4596 20.0023 17.3388 19.6428 17.9872 19.0008C18.6356 18.3588 19 17.487 19 16.5778V7.86686C19 7.13246 18.6721 6.43584 18.1046 5.96467L11.434 0.675869C10.2737 -0.251438 8.61111 -0.221498 7.48539 0.746979L0.967012 5.96467C0.372741 6.42195 0.0175523 7.12064 0 7.86686V16.5689C0 18.4639 1.54738 20 3.45617 20H5.37229C6.05123 20 6.603 19.4562 6.60792 18.7822L6.63478 18.7733Z"
        fill="white"
      />
    </svg>
  </div>

  <ul class="menu-list">
    <li (click)="openPopup('create')">Как создать объект</li>
    <li (click)="openPopup('edit')">Как изменить/заполнить паспорт</li>
    <li (click)="openPopup('filling')">Редактирование объекта</li>
    <li (click)="openPopup('feedback')">Обратная связь</li>
  </ul>

  <div class="overlay" *ngIf="activePopup" (click)="closePopup()">
    <div class="popup-content" (click)="$event.stopPropagation()">
      <button class="close-btn" (click)="closePopup()">&times;</button>

      <div [ngSwitch]="activePopup">
        <div *ngSwitchCase="'create'">
          <h2>Создание объектов и прокладка трубопровода</h2>
          <p>
            В данном руководстве описан порядок добавления элементов
            инфраструктуры на карту.
          </p>
          <h3>1. Выбор инструмента</h3>
          <p>
            В верхней панели расположены инструменты для добавления объектов:
            Скважина, Труба, Каптаж, Насос, Потребитель, Контр-резервуар,
            Водонапорная башня.
          </p>
          <ul>
            <li>
              Активация: Нажмите на иконку нужного объекта. Инструмент
              подсветится, указывая на готовность к работе.
            </li>
            <li>
              Деактивация: Нажмите на иконку повторно, чтобы отменить выбор.
            </li>
          </ul>
          <img
            class="overlay-img"
            src="assets/data/images/tutorial/tutor-2.png"
            alt=""
          />
          <h3>2. Размещение точечных объектов</h3>
          <p>
            Для всех объектов (кроме трубы) заполнение дополнительных данных при
            создании не требуется.
          </p>
          <ul>
            <li>Выберите объект в верхней панели.</li>
            <li>
              Кликните левой кнопкой мыши на нужный участок карты. Объект будет
              установлен мгновенно.
            </li>
          </ul>
          <h3>3. Прокладка трубопровода (Труба)</h3>
          <p>
            Создание трубы отличается от других объектов и требует соблюдения
            логики соединений.
          </p>
          <h4>3.1. Начало и конец линии</h4>
          <p>
            Если вы начинаете прокладку трубы на «пустом» месте карты (не от
            существующего объекта):
          </p>
          <ul>
            <li>Нажмите на карту — появится окно выбора объекта.</li>
            <img
              class="overlay-img"
              src="assets/data/images/tutorial/tutor-3.png"
              alt=""
            />
            <li>Выберите тип объекта, который должен стать началом трубы.</li>
            <img
              class="overlay-img"
              src="assets/data/images/tutorial/tutor-4.png"
              alt=""
            />
            <li>
              При завершении линии в пустом месте — аналогично выберите конечный
              объект в появившемся окне.
            </li>
            <img
              class="overlay-img"
              src="assets/data/images/tutorial/tutor-6.png"
              alt=""
            />
          </ul>
          <p>
            Примечание: Если прокладка начинается или заканчивается на уже
            существующем объекте, дополнительное окно выбора не появится. Так же
            можно отменить прокладываение трубы нажав на Esc.
          </p>
          <h4>3.2. Указание технических характеристик</h4>
          <p>
            После фиксации конечной точки участка трубы откроется окно
            параметров.
          </p>
          <ul>
            <li>
              Обязательное действие: Введите Диаметр трубы для проложенного
              сегмента. Без этого параметра корректное сохранение участка
              невозможно.
            </li>
          </ul>
          <img
            class="overlay-img"
            src="assets/data/images/tutorial/tutor-5.png"
            alt=""
          />
          <h3>4. Сохранение изменений</h3>
          <p>
            Все созданные объекты и участки труб сохраняются во временной
            памяти. Чтобы зафиксировать их в базе данных системы <br />
            найдите кнопку «Сохранить все» в правом верхнем углу экрана и
            нажмите её для завершения сессии создания
          </p>
          <img
            class="overlay-img"
            src="assets/data/images/tutorial/tutor-7.png"
            alt=""
          />
          <p>
            Внимание: Если закрыть вкладку или обновить страницу до нажатия этой
            кнопки, внесенные изменения будут утеряны.
          </p>
        </div>
        <div *ngSwitchCase="'edit'">
          <h2>Работа с паспортом объекта</h2>
          <p>
            Паспорт содержит всю ключевую информацию об объекте (адрес, имя,
            технические характеристики) и позволяет вносить в неё изменения.
          </p>
          <h3>1. Открытие паспорта</h3>
          <p>Для доступа к данным объекта:</p>
          <ul>
            <li>Найдите нужный объект или трубопровод на карте.</li>
            <li>Нажмите на него правой кнопкой мыши.</li>
            <li>В появившемся контекстном меню выберите пункт «Паспорт».</li>
            <img
              class="overlay-img"
              src="assets/data/images/tutorial/tutor-8.png"
              alt=""
            />
          </ul>
          <h3>2. Переход в режим редактирования</h3>
          <p>
            По умолчанию паспорт открывается в режиме «Только чтение». В этом
            режиме данные нельзя изменить.
          </p>
          <img
            class="overlay-img"
            src="assets/data/images/tutorial/tutor-9.png"
            alt=""
          />
          <p>
            Чтобы начать редактирование, нажмите кнопку «Изменить параметры» в
            нижней или верхней части окна паспорта.
          </p>
          <img
            class="overlay-img"
            src="assets/data/images/tutorial/tutor-10.png"
            alt=""
          />
          <h3>3. Заполнение данных</h3>
          <p>В паспорте представлены основные блоки данных:</p>
          <ul>
            <li>Общая информация: Адрес и Наименование объекта.</li>
            <li>
              Технические характеристики: Числовые и текстовые параметры
              (например: диаметр, минимальный напор воды, Расчетный расход воды
              в субботу, глубина).
            </li>
            <img
              class="overlay-img"
              src="assets/data/images/tutorial/tutor-11.png"
              alt=""
            />
          </ul>
          <h3>4. Сохранение изменений</h3>
          <p>Процесс сохранения проходит в два этапа:</p>
          <ul>
            <li>
              Предварительное сохранение: Нажмите кнопку «Сохранить» внутри окна
              паспорта. После этого окно закроется, а изменения зафиксируются
              локально. Если вы передумали — нажмите «Отмена».
            </li>
            <li>
              Окончательное сохранение: Чтобы данные были отправлены в базу и не
              пропали, обязательно нажмите кнопку «Сохранить все» в правом
              верхнем углу экрана.
            </li>
            <img
              class="overlay-img"
              src="assets/data/images/tutorial/tutor-12.png"
              alt=""
            />
          </ul>
        </div>
        <div *ngSwitchCase="'filling'">
          <h2>Редактирование положения и удаление</h2>
          <p>
            Этот режим предназначен для изменения координат сети трубопроводов и
            объектов
          </p>
          <h3>1. Включение режима редактирования</h3>
          <p>
            Чтобы получить возможность перемещать объекты, необходимо
            активировать специальный инструмент:
          </p>
          <ul>
            <li>В верхней панели нажмите на иконку «Редактирование».</li>
            <img
              class="overlay-img"
              src="assets/data/images/tutorial/tutor-13.png"
              alt=""
            />
            <li>
              После активации на карте появятся красные квадраты — они
              обозначают узлы и концы сегментов трубопроводов, доступные для
              перемещения.
            </li>
            <img
              class="overlay-img"
              src="assets/data/images/tutorial/tutor-14.png"
              alt=""
            />
          </ul>
          <h3>2. Перемещение объектов и узлов</h3>
          <p>
            В режиме редактирования вы можете менять расположение элементов:
          </p>
          <ul>
            <li>
              Нажмите и удерживайте левую кнопку мыши на объекте или красном
              узле трубы.
            </li>
            <li>Перетащите элемент на новое место.</li>
            <li>
              Если вы перемещаете объект, к которому подключены трубы, они будут
              растягиваться и двигаться за ним автоматически.
            </li>
          </ul>
          <h3>3. Работа с узлами труб</h3>
          <ul>
            <li>
              Вы можете перетаскивать конечные точки (узлы) сегментов труб.
              Добавление новых изгибов на существующем участке на данный момент
              не предусмотрено.
            </li>
            <li>
              Системы позволяют подключать несколько труб в один и тот же узел
            </li>
            <li>
              Если вы приблизите узлы слишком близко друг к другу то они
              объединяться
            </li>
          </ul>
          <h3>4. Удаление объектов и сегментов</h3>
          <p>Если объект или участок трубы был создан ошибочно:</p>
          <ul>
            <li>Нажмите на нужный элемент правой кнопкой мыши.</li>
            <li>
              В появившемся меню найдите пункт «Удалить» (расположен под кнопкой
              «Паспорт»).
            </li>
            <img
              class="overlay-img"
              src="assets/data/images/tutorial/tutor-15.png"
              alt=""
            />
          </ul>
          <h3>5. Фиксация изменений</h3>
          <p>
            Как и при создании, все перемещения и удаления являются
            предварительными.
          </p>
          <p>
            Обязательно нажмите кнопку «Сохранить все» в правом верхнем углу,
            чтобы новые координаты и состав сети записались в базу данных.
          </p>
          <img
            class="overlay-img"
            src="assets/data/images/tutorial/tutor-16.png"
            alt=""
          />
        </div>
        <div *ngSwitchCase="'feedback'">
          <h2>Помогите нам стать лучше!</h2>
          <p>
            Мы работаем над улучшением сервиса, и ваше мнение для нас
            необходима.
          </p>
          <ul>
            <li>
              <h3>Нашли ошибку?</h3>
              <p>Опишите, что произошло, и мы быстро все исправим.</p>
            </li>
            <li>
              <h3>Есть идеи?</h3>
              <p>Расскажите, какую функцию добавить или что улучшить.</p>
            </li>
            <li>
              <h3>Остались вопросы</h3>
              <p>Не нашли ответ в инструкциях? Спросите нас напрямую.</p>
            </li>
          </ul>
          <p>
            Напишите нам в Telegram — это самый быстрый способ связаться с
            разработчиками:
          </p>
          <a
            class="telegram-button"
            href="https://t.me/DuImaran"
            target="_blank"
          >
            Написать в Telegram
          </a>
          <p>Спасибо, что помогаете делать сервис удобнее для всех!</p>
        </div>
      </div>
    </div>
  </div>
</div>
