#header {
  position: fixed;
  top: 0;
  display: flex;
  height: 40px;
  background-color: #182026;
  width: 100%;
  user-select: none;
}

.menu-list {
  display: flex;
  align-items: center;
  margin: 0; /* Убедитесь, что отступы не мешают центрированию */
  padding: 0; /* Убедитесь, что отступы не мешают центрированию */
  list-style-type: none; /* Убираем маркеры списка */
}

.menu-list li {
  cursor: pointer;
  padding: 8px 10px;
  font-size: 18px;
  color: #ffffff;
}

.menu-list li:hover {
  background-color: #2b3943;
}

.home {
  cursor: pointer;
  background-color: #256fff;
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 10px;

  &:hover {
    background-color: #00369f;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 100px;
  box-sizing: border-box;
}

.overlay-img {
  margin: 10px 0;
  border-radius: 8px;
}

.popup-content {
  background: white;
  color: black;
  padding: 30px;
  border-radius: 8px;
  clip-path: inset(0 round 8px);
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow: overlay;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

  li h3 {
    margin-bottom: 5px;
  }

  h2 {
    margin-bottom: 10px;
  }
}

.popup-content::-webkit-scrollbar-track {
  background: transparent;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
}

.telegram-button {
  display: inline-block;
  background: #0088cc;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;
  display: block;
  text-align: center;
  margin: 10px auto;
  width: max-content;
}

.telegram-button:hover {
  background: #0077b5;
}
