<div class="container">
  <header>
    <button 
      (click)="selectTool('well')" 
      [class.active]="selectedTool === 'well'">
      Скважина
    </button>
    <button 
      (click)="selectTool('pipe')" 
      [class.active]="selectedTool === 'pipe'">
      Труба
    </button>
  </header>

  <div id="map" class="map-container"></div>

</div>


<div 
    class="context-menu" 
    *ngIf="contextMenuVisible" 
    [style.left.px]="contextMenuPosition.x" 
    [style.top.px]="contextMenuPosition.y">
    <div (click)="onDelete()">Удалить</div>
</div>