.struct-top {
    display: flex;
    align-items: center;
    gap: 40px;

    @media (max-width: 600px) {
        flex-direction: column;
        gap: 20px;
    }
}

.list-wrapper {
    margin: 20px 10%;
    font-size: 24px;

    @media (max-width: 1000px) {
        margin: 20px 0;
    }

    @media (min-width: 1001px) and (max-width: 1240px) {
        margin: 20px 3%;
    }

    @media (min-width: 1241px) and (max-width: 1440px) {
        margin: 20px 6%;
    }
}

.search-placeholder, .list-moderator-placeholder, .list-admin-placeholder, .list-superadmin-placeholder {
  background: #e3e8f0;
  color: #256fff;
  border: 1px dashed #256fff;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  font-size: 1.1rem;
  text-align: center;
}
