header{user-select: none;}
.TopHeader{
    color: rgba(255, 255, 255, 1);
    display: flex;
    width: 100%;
    height: 33px;
    align-items: center;
    background-color: rgba(0, 129, 236, 1);
    h2{font-size: 14px;}
    .first{
        margin-left: 10.5%;
    }
    .second{
        margin-left: 25%;
    }
    .IconsHead{
        margin-left: 12%;
        display: flex;
        img{
            margin-left: 18px;
            cursor: pointer;
            background-color: white;
            border-radius: 5px;
            width: 25px;
            height: 25px;
        }
    }
    .search{
        margin-left: 10%;
        background-color: white;
    }
}
.BottomHeader{
    color: rgba(255, 255, 255, 1);
    display: flex;
    width: 100%;
    height: 124px;
    background-color: rgba(126, 179, 193, 1);
    align-items: center;
    .leftto{
        display: flex;
        margin-left: 10.5%;
        h1{font-size: 18px;
        margin-right: 20%;}
    }
    img{margin-left: 17%;}
    .rigthto{
        margin-left: 10.5%;
        width: 100%;
        display: flex;
        h1{font-size: 18px;margin: 0; padding: 0; margin-right: 10%;}
    }
}